
#conteudo{
    background-color: red; width: 300px; height: 50px; overflow: auto;
}
#conteudo p{
    opacity: 0.5;
}
*/

/* Aula 10
*{
    box-sizing: border-box;
}
#conteudo{
    background-color: red; width: 300px; padding: 30px; color: white;
    box-shadow: 10px 10px 5px green;
}
*/

/* Aula 09
p{
    color: red; text-align: justify; text-indent: 20px; 
    line-height: 30px; direction: ltr; letter-spacing: 5px;
    word-spacing: 10px;
}
h1{
    text-shadow: 3px 3px 4px red;
}
*/

/* Aula 08
p{
    color: red; text-transform: capitalize;
}
h1{
    text-align: left; text-decoration: underline;
}
h2{
    text-align: right; text-decoration: overline;
}
h3{
    text-align: center; text-decoration: line-through;
}
*/

/* Aula 07
#exemplo2{
    background-color: red;
    color: #fff;
    width: 500px;
    margin: 20px 20px 0px 40px;
}

#exemplo{
    background-color: green;
    color: #ffffff;
    width: 500px;
    padding: 20px 5px 10px 50px;
    }
*/

/* Aula 06
#conteudo{
    background-color: green; color:white;
    padding: 20px; min-width: 500px; height: 100px;
}
*/

/* Aula 05
.texto-principal{
    color:black; text-align: center;
}
.fundo-principal{
    background-color: green;
    padding: 20px;
}
#conteudo{
    background-color: blue;
    padding: 20px;
    color:white;
}
*/

/* Aula 04
h1,h2{
    color: red; text-align: center;
}
*/

/* Aula 02 e 03
*{
    margin: 0; padding: 0;
}

h1{
    color: blue; font-size: 50px;
}
p{
    color:green; font-size: 12px;
}

input[type="text"]{
    width: 200px; background-color: #ccc;
    height: 35px; border: none;
}

input[type="email"]{
    width: 200px; background-color: #ccc;
    height: 35px; border: none;    
}

input[type=submit]{
    width: 50px; background-color: green; 
    height: none; cursor: pointer; color: #fff;
}
*/

/* Aula 01 
h1{
    color: blue; 
    font-family: Impact, verdana, arial;
}
*/