


*/

/* Aula 27
.noticia:target{
    background-color: rgb(78, 78, 124);
    padding: 10px;
}
*/

/* Aula 26
:root{
    --bg-color: blue;
    --cor-do-texto: white;
    --espacamento: 20px;
}
#div1{
    background-color: var(--bg-color); 
    color: var(--cor-do-texto); 
    padding: var(--espacamento)
}
*/

/* Aula 22
body{
    background-color: rgba(255, 0, 0, 0.623);
    background-image: url(./modulo01/matrix.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
*/

/* Aula 21
#exemplo{width: 200px; height: 200px; background-color: red; transition: all 2s linear;}
#exemplo:hover{width: 350px; height: 350px; background-color: green;}
*/

/* Aula 20
#exemplo01{border-style: solid; border-width: 8px;border-color: red;}
#exemplo02{border: solid 5px red;}
#exemplo03{border-left: groove 10px green;border-right: solid 5px red;border-top: dotted 2px blue;border-bottom: double 5px yellow;}
#exemplo04{border: solid 5px red; outline: dotted 10px blue;}
*/

/* Aula 19
#conteudo{width: 600px; height: 1200px; background-color: red; position: relative;}
#texto{width: 500px; background-color: green; 
    position: fixed; left: 0px; top: 40px;}
*/

/* Aula 18
#base{
    background-color: green; width: 600px; height: 600px;
}
#esquerda{
    background-color: red; width: 300px; height: 300px; float: left;
}
#direita{
    background-color: blue; width: 300px; height: 300px; float: right;
}
*/

/* Aula 17
#cores{
    width: 200px; height: 200px; 
    background: radial-gradient(red, green);
*/

/* Aula 16
#cores{
    width: 200px; height: 200px; background-color: rgba(82, 189, 87, 0.555); 
}
*/

/* Aula 14
h1{
    font-family: 'Saira Stencil One', cursive;
}
*/

/* Aula 13
*{
    font-size: 100%;
}
p{
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-variant: normal;
    font-size: 1em;
}
*/

/* Aula 12
#bloco{
    background-color: green; width: 300px; height: 150px; 
    border-radius: 20px 50px 0px 100px;
}
*/

/* Aula 11
#conteudo{
    background-color: red; width: 300px; height: 50px; overflow: auto;
}
#conteudo p{
    opacity: 0.5;
}
*/

/* Aula 10
*{
    box-sizing: border-box;
}
#conteudo{
    background-color: red; width: 300px; padding: 30px; color: white;
    box-shadow: 10px 10px 5px green;
}
*/

/* Aula 09
p{
    color: red; text-align: justify; text-indent: 20px; 
    line-height: 30px; direction: ltr; letter-spacing: 5px;
    word-spacing: 10px;
}
h1{
    text-shadow: 3px 3px 4px red;
}
*/

/* Aula 08
p{
    color: red; text-transform: capitalize;
}
h1{
    text-align: left; text-decoration: underline;
}
h2{
    text-align: right; text-decoration: overline;
}
h3{
    text-align: center; text-decoration: line-through;
}
*/

/* Aula 07
#exemplo2{
    background-color: red;
    color: #fff;
    width: 500px;
    margin: 20px 20px 0px 40px;
}

#exemplo{
    background-color: green;
    color: #ffffff;
    width: 500px;
    padding: 20px 5px 10px 50px;
    }
*/

/* Aula 06
#conteudo{
    background-color: green; color:white;
    padding: 20px; min-width: 500px; height: 100px;
}
*/

/* Aula 05
.texto-principal{
    color:black; text-align: center;
}
.fundo-principal{
    background-color: green;
    padding: 20px;
}
#conteudo{
    background-color: blue;
    padding: 20px;
    color:white;
}
*/

/* Aula 04
h1,h2{
    color: red; text-align: center;
}
*/

/* Aula 02 e 03
*{
    margin: 0; padding: 0;
}

h1{
    color: blue; font-size: 50px;
}
p{
    color:green; font-size: 12px;
}

input[type="text"]{
    width: 200px; background-color: #ccc;
    height: 35px; border: none;
}

input[type="email"]{
    width: 200px; background-color: #ccc;
    height: 35px; border: none;    
}

input[type=submit]{
    width: 50px; background-color: green; 
    height: none; cursor: pointer; color: #fff;
}
*/

/* Aula 01 
h1{
    color: blue; 
    font-family: Impact, verdana, arial;
}
*/