/* Remoção da aparencia dos links */
a:link {text-decoration: none;color: #ffffff}
a:active {text-decoration: none;}
a:visited {text-decoration: none;color: #ffffff}
a:hover {text-decoration: none;color: #ffac31; font-weight: bold;}
/* Remoção da aparencia dos links */

.sombrapng{
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

#titulo{
    text-align: center;
    font-family: 'Saira Stencil One', cursive;
    font-size: 33px;
    color: #ffac31;
    padding: 20px;
    border: 5px solid rgb(16, 10, 61);
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(125,125,125,1) 100%); 
    border-radius: 50px 50px 0 0; 
}
h1{display: inline;}
.simbolotitulo{vertical-align: -25px;}
#menu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
    padding: calc(18px - 5px) 18px 18px 18px;
    border: 0px solid;
    background-color: rgb(16, 10, 61);
    border-radius: 0px 0px 50px 50px;
    font-size: 15px;
}
#navegador{margin: 0px 100px 0px 100px;}
#textoprojetofinal{
    background-color: rgb(16, 10, 61);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    margin: -8px 0 0 0;
}
